<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/var</key>
	<dict>
		<key>blacklist</key>
		<array/>
		<key>whitelist</key>
		<array>
			<string>.fseventsd</string>
			<string>Keychains</string>
			<string>MobileDevice</string>
			<string>buddy</string>
			<string>datamigrator</string>
			<string>folders</string>
			<string>keybags</string>
			<string>networkd</string>
			<string>root</string>
			<string>tmp</string>
			<string>Managed Preferences</string>
			<string>MobileSoftwareUpdate</string>
			<string>containers</string>
			<string>db</string>
			<string>hardware</string>
			<string>mobile</string>
			<string>preferences</string>
			<string>run</string>
			<string>vm</string>
			<string>MobileAsset</string>
			<string>audit</string>
			<string>empty</string>
			<string>installd</string>
			<string>log</string>
			<string>logs</string>
			<string>msgs</string>
			<string>protected</string>
			<string>select</string>
			<string>wireless</string>
			<string>dirs_cleaner</string>
			<string>dextcores</string>
			<string>staged_system_apps</string>
			<string>internal</string>
		</array>
	</dict>
	<key>/var/containers</key>
	<dict>
		<key>whitelist</key>
		<array>
			<string>Bundle</string>
			<string>Data</string>
			<string>Shared</string>
			<string>Temp</string>
		</array>
	</dict>
	<key>/var/containers/Bundle</key>
	<dict>
		<key>blacklist</key>
		<array/>
		<key>whitelist</key>
		<array/>
	</dict>
	<key>/var/log</key>
	<dict>
		<key>blacklist</key>
		<array/>
		<key>default</key>
		<string>blacklist</string>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
			<string>asl</string>
			<string>mDNSResponder</string>
			<string>ppp</string>
		</array>
	</dict>
	<key>/var/mobile</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>log.txt</string>
			<string>.ekenablelogging</string>
			<string>.eksafemode</string>
			<string>Serotonin.jp2</string>
		</array>
		<key>whitelist</key>
		<array>
			<string>Applications</string>
			<string>Containers</string>
			<string>Documents</string>
			<string>Downloads</string>
			<string>Library</string>
			<string>Media</string>
			<string>MobileSoftwareUpdate</string>
			<string>tmp</string>
		</array>
	</dict>
	<key>/var/mobile/Documents</key>
	<dict>
		<key>blacklist</key>
		<array/>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
		</array>
	</dict>
	<key>/var/mobile/Library</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>Sileo</string>
			<string>Filza</string>
			<string>Flex3</string>
			<string>SBSettings</string>
			<string>iCleaner</string>
		</array>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
			<string>Accessibility</string>
			<string>CoreBrightness</string>
			<string>Keyboard</string>
			<string>Preferences</string>
			<string>Voicemail</string>
			<string>Accounts</string>
			<string>CoreDuet</string>
			<string>KeyboardServices</string>
			<string>PrivacyAccounting</string>
			<string>WatchConnectivity</string>
			<string>AddressBook</string>
			<string>CoreFollowUp</string>
			<string>LASD</string>
			<string>Recents</string>
			<string>Weather</string>
			<string>AggregateDictionary</string>
			<string>CountryBundles</string>
			<string>LanguageModeling</string>
			<string>Reminders</string>
			<string>WebClips</string>
			<string>AirPlayRoutePrediction</string>
			<string>CrashReporter</string>
			<string>Logs</string>
			<string>ReplayKit</string>
			<string>WebKit</string>
			<string>ApplePushService</string>
			<string>DES</string>
			<string>Mail</string>
			<string>SMS</string>
			<string>chronod</string>
			<string>Application Support</string>
			<string>DataAccess</string>
			<string>MediaRemote</string>
			<string>Safari</string>
			<string>com.apple.ClipServices.clipserviced</string>
			<string>ApplicationSync</string>
			<string>DataDeliveryServices</string>
			<string>MediaStream</string>
			<string>SafariSafeBrowsing</string>
			<string>com.apple.FamilyControlsAgent</string>
			<string>Assets</string>
			<string>DeviceRegistry.dontBackUp</string>
			<string>MedicalID</string>
			<string>SafeHarbor</string>
			<string>com.apple.VideoSubscriberAccount.DeveloperService</string>
			<string>Assistant</string>
			<string>DeviceRegistry.state</string>
			<string>MemoryMaintenance</string>
			<string>Saved Application State</string>
			<string>com.apple.WatchListKit</string>
			<string>Avatar</string>
			<string>DiagnosticPipeline</string>
			<string>MessagesMetaData</string>
			<string>SecureElementService</string>
			<string>com.apple.appleaccountd</string>
			<string>BackBoard</string>
			<string>DifferentialPrivacy</string>
			<string>Mobile Documents</string>
			<string>Sharing</string>
			<string>com.apple.bluetooth.services.cloud</string>
			<string>Backup</string>
			<string>DoNotDisturb</string>
			<string>MobileBluetooth</string>
			<string>Shortcuts</string>
			<string>com.apple.iTunesCloud</string>
			<string>Biome</string>
			<string>DuetActivityScheduler</string>
			<string>MobileContainerManager</string>
			<string>SoftwareUpdate</string>
			<string>com.apple.icloud.searchpartyd</string>
			<string>BulletinBoard</string>
			<string>DuetExpertCenter</string>
			<string>MobileInstallation</string>
			<string>SoftwareUpdateCore</string>
			<string>com.apple.imagecapture</string>
			<string>Caches</string>
			<string>ExposureNotification</string>
			<string>NFStorage</string>
			<string>SplashBoard</string>
			<string>com.apple.internal.ck</string>
			<string>Calendar</string>
			<string>ExternalAccessory</string>
			<string>NanoMusicSync</string>
			<string>Spotlight</string>
			<string>com.apple.itunesstored</string>
			<string>CallDirectory</string>
			<string>FaceTime</string>
			<string>NanoTimeKit</string>
			<string>SpringBoard</string>
			<string>com.apple.nsurlsessiond</string>
			<string>CallHistoryDB</string>
			<string>FairPlay</string>
			<string>Notes</string>
			<string>StatusKit</string>
			<string>com.apple.nsurlsessiond-launchd</string>
			<string>CallHistoryTransactions</string>
			<string>OSAnalytics</string>
			<string>Suggestions</string>
			<string>com.apple.private.SensorKit</string>
			<string>CallServices</string>
			<string>FinHealth</string>
			<string>OTALogging</string>
			<string>SyncedPreferences</string>
			<string>coreidvd</string>
			<string>Carrier Bundles</string>
			<string>FrontBoard</string>
			<string>OnDemandResources</string>
			<string>TCC</string>
			<string>dmd</string>
			<string>CarrierDefault.bundle</string>
			<string>GameKit</string>
			<string>Operator Bundle.bundle</string>
			<string>Translation</string>
			<string>homed</string>
			<string>ClassKit</string>
			<string>HTTPStorages</string>
			<string>Operator1Bundle.bundle</string>
			<string>Trial</string>
			<string>idcredd</string>
			<string>Contacts</string>
			<string>Handwriting</string>
			<string>Operator2Bundle.bundle</string>
			<string>UserConfigurationProfiles</string>
			<string>locationd</string>
			<string>ControlCenter</string>
			<string>Health</string>
			<string>POMMES</string>
			<string>UserFonts</string>
			<string>mad</string>
			<string>Cookies</string>
			<string>ISP</string>
			<string>Passes</string>
			<string>UserNotifications</string>
			<string>terminus</string>
			<string>CoreAS</string>
			<string>IdentityServices</string>
			<string>PersonalizationPortrait</string>
			<string>UserNotificationsUI</string>
			<string>CoreAccessories</string>
			<string>Inboxes</string>
			<string>Photos</string>
			<string>VoiceServices</string>
			<string>CoreBehavior</string>
			<string>Intents</string>
			<string>PowerUI</string>
			<string>VoiceTrigger</string>
			<string>ConfigurationProfiles</string>
			<string>ProactiveInsights</string>
			<string>Carrier Bundle.bundle</string>
			<string>Carrier1Bundle.bundle</string>
			<string>PeopleSuggester</string>
			<string>News</string>
			<string>.locallized</string>
			<string>CloudStorage</string>
			<string>Finance</string>
			<string>Measure</string>
			<string>News</string>
			<string>Recordings</string>
			<string>ResponseKit</string>
			<string>Settings</string>
			<string>studentd</string>
			<string>VirtualCaptureCard</string>
			<string>Wallet</string>
			<string>AppleMediaServices</string>
			<string>IntelligencePlatform</string>
			<string>sessionkitd</string>
			<string>LiveFiles</string>
			<string>Maps</string>
			<string>OSIntelligence</string>
			<string>Phone</string>
			<string>Seymour</string>
		</array>
	</dict>
	<key>/var/mobile/Library/Application Support</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>xyz.willy.Zebra</string>
		</array>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
			<string>CloudDocs</string>
			<string>CloudKitMailConversationsFlags</string>
			<string>Containers</string>
			<string>FileProvider</string>
			<string>UsageTrackingAgent</string>
			<string>videosubscriptionsd</string>
			<string>CNDuplication</string>
			<string>icloudsubscriptionoptimizerd</string>
		</array>
	</dict>
	<key>/var/mobile/Library/Application Support/Containers</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>xyz.willy.Zebra</string>
			<string>com.tigisoftware.Filza</string>
			<string>org.coolstar.SileoStore</string>
		</array>
		<key>default</key>
		<string>blacklist</string>
	</dict>
	<key>/var/mobile/Library/Caches</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>ImageTables</string>
			<string>SentryCrash</string>
			<string>io.sentry</string>
			<string>com.hackemist.SDImageCache</string>
			<string>com.opa334.Dopamine</string>
			<string>com.tigisoftware.Filza</string>
			<string>org.coolstar.SileoStore</string>
			<string>ws.hbang.Terminal</string>
			<string>xyz.willy.Zebra</string>
			<string>Cephei</string>
		</array>
		<key>default</key>
		<string>blacklist</string>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^TelephonyUI-\d+$</string>
			</dict>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^FamilyMarquee.*Mode-.*\.png$</string>
			</dict>
			<string>.com.apple.persistentconnection.settings.lock.lock</string>
			<string>Checkpoint.plist</string>
			<string>CloudKit</string>
			<string>GameKit</string>
			<string>GeoServices</string>
			<string>FamilyCircle</string>
			<string>DateFormats.plist</string>
			<string>INSTALLATION</string>
			<string>MappedImageCache</string>
			<string>PassKit</string>
			<string>RemoteConfiguration.plist</string>
			<string>VoiceServices</string>
			<string>VoiceTrigger</string>
			<string>mediaanalysisd-service</string>
			<string>rtcreportingd</string>
			<string>sharedCaches</string>
		</array>
	</dict>
	<key>/var/mobile/Library/Cookies</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>com.johncoates.Flex.binarycookies</string>
		</array>
		<key>default</key>
		<string>blacklist</string>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
			<string>Cookies.binarycookies</string>
		</array>
	</dict>
	<key>/var/mobile/Library/HTTPStorages</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>com.opa334.Dopamine</string>
			<string>com.tigisoftware.Filza</string>
			<string>org.coolstar.SileoStore</string>
			<string>ws.hbang.Terminal</string>
			<string>xyz.willy.Zebra</string>
		</array>
		<key>default</key>
		<string>blacklist</string>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
		</array>
	</dict>
	<key>/var/mobile/Library/Logs</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>Cydia</string>
		</array>
		<key>default</key>
		<string>whitelist</string>
		<key>whitelist</key>
		<array/>
	</dict>
	<key>/var/mobile/Library/Preferences</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>com.roothide.manager.plist</string>
			<string>com.opa334.Dopamine.roothide.plist</string>
			<string>com.opa334.Dopamine.plist</string>
			<string>com.tigisoftware.Filza.plist</string>
			<string>com.xina.jailbreak.plist</string>
			<string>org.coolstar.SileoStore.plist</string>
			<string>ru.domo.cocoatop64.plist</string>
			<string>ws.hbang.Terminal.plist</string>
			<string>xyz.willy.Zebra.plist</string>
			<string>com.apple.lockscreencache-new.plist</string>
			<string>com.apple.homescreencache-new.plist</string>
		</array>
		<key>default</key>
		<string>blacklist</string>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^systemgroup\.com\.apple\.</string>
			</dict>
			<string>.GlobalPreferences.plist</string>
			<string>.GlobalPreferences_m.plist</string>
			<string>bluetoothaudiod.plist</string>
			<string>NetworkInterfaces.plist</string>
			<string>OSThermalStatus.plist</string>
			<string>preferences.plist</string>
			<string>osanalyticshelper.plist</string>
			<string>UserEventAgent.plist</string>
			<string>wifid.plist</string>
			<string>dprivacyd.plist</string>
			<string>silhouette.plist</string>
			<string>nfcd.plist</string>
			<string>kNPProgressTrackerDomain.plist</string>
			<string>siriknowledged.plist</string>
			<string>UITextInputContextIdentifiers.plist</string>
			<string>mobile_storage_proxy.plist</string>
			<string>splashboardd.plist</string>
			<string>mobile_installation_proxy.plist</string>
			<string>languageassetd.plist</string>
			<string>ptpcamerad.plist</string>
			<string>com.google.gmp.measurement.monitor.plist</string>
			<string>com.google.gmp.measurement.plist</string>
		</array>
	</dict>
	<key>/var/mobile/Library/Saved Application State</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>com.opa334.Dopamine.savedState</string>
			<string>com.tigisoftware.Filza.savedState</string>
			<string>org.coolstar.SileoStore.savedState</string>
			<string>ws.hbang.Terminal.savedState</string>
			<string>xyz.willy.Zebra.savedState</string>
			<string>ru.domo.cocoatop64.savedState</string>
		</array>
		<key>default</key>
		<string>blacklist</string>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
		</array>
	</dict>
	<key>/var/mobile/Library/SplashBoard/Snapshots</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>com.roothide.manager</string>
			<string>com.opa334.Dopamine.roothide</string>
			<string>com.opa334.Dopamine</string>
			<string>com.tigisoftware.Filza</string>
			<string>com.xina.jailbreak</string>
			<string>org.coolstar.SileoStore</string>
			<string>ru.domo.cocoatop64</string>
			<string>ws.hbang.Terminal</string>
			<string>xyz.willy.Zebra</string>
		</array>
		<key>default</key>
		<string>blacklist</string>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
		</array>
	</dict>
	<key>/var/mobile/Library/UserConfigurationProfiles/PublicInfo/</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>Flex3Patches.plist</string>
		</array>
		<key>whitelist</key>
		<array>
			<string>MCMeta.plist</string>
			<string>NamespacedUserSettings.plist</string>
			<string>PublicEffectiveUserSettings.plist</string>
			<string>Truth.plist</string>
		</array>
	</dict>
	<key>/var/mobile/Library/WebKit</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>xyz.willy.Zebra</string>
		</array>
		<key>whitelist</key>
		<array>
			<string>Databases</string>
			<string>LocalStorage</string>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
		</array>
	</dict>
	<key>/var/root</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>.bash_history</string>
		</array>
		<key>whitelist</key>
		<array>
			<string>Library</string>
			<string>.bootstrapped</string>
			<string>.aks_migrate</string>
			<string>.aks_whitelist</string>
			<string>.mkb_seshat_health</string>
			<string>.obliterated</string>
			<string>.aks_allowlist</string>
		</array>
	</dict>
	<key>/var/root/Library</key>
	<dict>
		<key>whitelist</key>
		<array>
			<string>Application Support</string>
			<string>Caches</string>
			<string>HTTPStorages</string>
			<string>Lockdown</string>
			<string>Logs</string>
			<string>MobileContainerManager</string>
			<string>Preferences</string>
			<string>USBRestricted</string>
			<string>com.apple.wifianalyticsd</string>
			<string>Catacomb</string>
		</array>
	</dict>
	<key>/var/root/Library/Application Support</key>
	<dict>
		<key>blacklist</key>
		<array/>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
		</array>
	</dict>
	<key>/var/root/Library/Caches</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>shshd</string>
		</array>
		<key>default</key>
		<string>blacklist</string>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
			<string>Backup</string>
			<string>locationd</string>
		</array>
	</dict>
	<key>/var/root/Library/HTTPStorages</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>shshd</string>
			<string>FilzaHelper</string>
		</array>
		<key>default</key>
		<string>blacklist</string>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
		</array>
	</dict>
	<key>/var/root/Library/Preferences</key>
	<dict>
		<key>blacklist</key>
		<array>
			<string>com.xina.jailbreak.plist</string>
			<string>com.xina.blacklist.plist</string>
			<string>ws.hbang.Terminal.plist</string>
		</array>
		<key>default</key>
		<string>blacklist</string>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^systemgroup\.com\.apple\.</string>
			</dict>
			<string>UserEventAgent.plist</string>
			<string>osanalyticshelper.plist</string>
			<string>wifid.plist</string>
		</array>
	</dict>
	<key>/var/tmp</key>
	<dict>
		<key>blacklist</key>
		<array/>
		<key>default</key>
		<string>blacklist</string>
		<key>whitelist</key>
		<array>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^\w{8}-\w{4}-\w{4}-\w{4}-\w{12}$</string>
			</dict>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^com\.apple\.</string>
			</dict>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^SSOBackup-</string>
			</dict>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^SOSBackup-.*-tomb</string>
			</dict>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^CFNetworkDownload_</string>
			</dict>
			<dict>
				<key>match</key>
				<string>regexp</string>
				<key>name</key>
				<string>^NSIRD_installd_</string>
			</dict>
			<string>.LINKS</string>
			<string>MediaCache</string>
			<string>analytics</string>
			<string>aud</string>
			<string>ct.shutdown</string>
			<string>fseventsd-uuid</string>
			<string>hdds6.dat</string>
			<string>nfcd.firstlaunch</string>
			<string>powerlog</string>
			<string>recommendations</string>
			<string>journeys</string>
			<string>ClonedAXAsset</string>
		</array>
	</dict>
</dict>
</plist>
